{% extends "JakubMylangsBundle::base.html.twig" %}

{% block stylesheets %}
	<link href="{{ asset('/bundles/jakubmylangs/css/account.css') }}" type="text/css" rel="stylesheet" />
	{{ parent() }}
{% endblock %}

{% block javascripts %}
	<script language="javascript" type="text/javascript">
		//alert('Welcome into your accont');
	</script>
{% endblock %}

{% block content %}
	<div class="ctn ce">
		<h1>Welcome into MyLangs application by Jakub Luczynski</h1>
	</div>
	<div class="ctn ce">
		<p>Welcome into your account: {{ app.user.username }}  <a href="{{ path('logout') }}">logout</a></p>
	</div>
	<div class="ctn ce">
		<a href="{{ path('nouns') }}">nouns</a>
		<a href="{{ path('verbs') }}">verbs</a>
		<a href="{{ path('adjectives') }}">adjectives</a>
		<a href="{{ path('phrases') }}">phrases</a>
		<a href="{{ path('tables') }}">tables</a>
		<a href="{{ path('addword') }}">add word</a>
		<a href="{{ path('addphrase') }}">add phrase</a>
		<a href="{{ path('addtable') }}">add table</a>
	</div>
	{% block module %}{% endblock %}
{% endblock %}